<link rel="stylesheet" type="text/css" href="http://developer.amap.com/Public/css/demo.Default.css" />
<script language="javascript" src="http://webapi.amap.com/maps?v=1.3&key=8870273df35ecf85d00f963706c42db7"></script>
<div id="iCenter"></div>
