<div class="container">
  <div class="jumbotron col-md-offset-2 col-md-8 ">
    <h3 class="text-center">请输入您的车型，我们将为您提供专业的服务!</h3>
    <div class="col-md-8 col-md-offset-2 container">
      <%= render 'form' %>
    </div>

  </div>
</div>




