<% content_for :head do %>
<script type="text/javascript">
    function browserRedirect() {
        var sUserAgent = navigator.userAgent.toLowerCase();
        var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
        var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
        var bIsMidp = sUserAgent.match(/midp/i) == "midp";
        var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
        var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
        var bIsAndroid = sUserAgent.match(/android/i) == "android";
        var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
        var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
        //document.writeln("您的浏览设备为：");
        if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
            //document.writeln("phone");
            //alert("phone");
            self.location="/m"
        } else {
            //document.writeln("pc");
            //alert("pc")
        }
    }

    browserRedirect();
</script>
<% end %>
<div class="images-slider">
  <div id="fwslider">
    <div class="slider_container">
      <div class="slide">
        <img src="images/car.jpg" alt=""/>
        <div class="slide_content ">
          <div class="slide_content_wrap">
            <p class="description">养车帮</p>
            <h4 class="title">让您的车焕然一新</h4>
            <p class="description"><a href="#contact">去看看<img src="images/arrow.png" alt=""/></a></p>
            <div class="slide-btns description">
            <!-- <h4 class="title">请输入您的车型，我们将为您提供专业的服务!</h4> -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contact s4" id="contact">
  <div class="container">
    <h3>填写信息，提供服务</h3>
    <%= render 'form' %>
  </div>
</div>