<p>
  <strong><%= t('activerecord.models.user') %>:</strong>
  <%= current_user.email %>
</p>

<p>
  <% @user_records.each do | user_record | %>
    <% current_model = user_record.auto_model.id %>
    <% mile = user_record.mile %>
    <% date = (user_record.purchasing_date - Date.today).to_i %>
    <% mile_step = get_step_from_mile mile %>
    <% date_step = get_step_from_date date %>
    <% step = (mile_step > date_step) ? mile_step : date_step %>
    <% service_items = ServiceItem.where("auto_model_id = :auto_model_id AND step = :step", auto_model_id: current_model, step: step) %>
    <% service_items.each do | service_item | %>
      <%= service_item.name %>
    <% end %>
  <% end %>
</p>

