<h1>Editing service_station_administrator_service_station_ship</h1>

<%= render 'form' %>

<%= link_to 'Show', @service_station_administrator_service_station_ship %> |
<%= link_to 'Back', service_station_administrator_service_station_ships_path %>
