<section id="content">
  <div class="container">
    <h1><%= t("edit_auto_model") %></h1>

    <%= render 'form' %>

    <%= link_to 'Show', @auto_model %> |
    <%= link_to 'Back', auto_models_path %>
  </div>
</section>

