@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery-ui";

.footer {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  border-radius: 4px;
  min-height: 50px;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  display: block;
  font-weight: normal;
  line-height: 100%;
  margin: 0;
  padding: 30px 20px 10px 30px;
}
