#select-model {
  font-size: 2em;
}
.form-info {
  margin: 0 auto;
}

.form-info input {
  border:2px solid #7B6C63;
}

.form-info .form-item {
  box-sizing: border-box;
  font-size: 15px;
  height: auto;
  padding: 4px;
  position: relative;
}

#content {
  min-height: 30em;
}

#input-group {
  padding: 6px;
}

.input-item {
  padding: 4px;
}
.information {
  background-color: #EEEEEE;

}
.title {
  font-size: 24px;
  color:#EEEEEE;
  background-color: #1b1b1b;
  padding: 6px;
}

#commit-button {
  padding: 12px;
  margin: 10px;
}

@media only screen and (max-width: 1366px) {
  .row {
    padding: 10px 10px 10px 10px;
  }
  select {
    min-height: 5em;
  }
}

@media screen and (max-width: 800px) {
  .container {
    width: 100%;
  }

}

table {
  margin-top: 2em;
}

table > caption {
  text-align: center;
  font-size: 2em;
  padding: 2px 2px 2px 2px;
}
